apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: services
  labels:
    app: user-service
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 8001
    targetPort: 8001
    protocol: TCP
  selector:
    app: user-service
